<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Profilo</title>
<link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>
<h2>Profilo di <span th:text="${user.username}"></span></h2>
<h3>Le tue recensioni:</h3>
<ul>
    <li th:each="review : ${user.reviews}">
        <strong th:text="${review.book.title}"></strong> -
        <span th:text="${review.rating}"></span> stelle -
        <em th:text="${review.title}"></em>
    </li>
</ul>
</body>
</html>